<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Add </title>

</head>
<body>


{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}



<div class="container">
{% if suc==1%}
<div class="alert alert-success">
  <strong>Success!</strong> Record saved success in database
</div>
{% endif%}
{% if suc==0%}
<div class="alert alert-success">
  <strong>Success!</strong> Record saved success in database
</div>
{% endif%}
    <form method="POST" action='\geodata\'>

        {{ form.csrf_token }}
        <dl>
            <div>
                {{ wtf.form_field(form.name, class='form-control', type="text", id="name",
                placeholder='Name') }}
            </div>
            <div>
                {{ wtf.form_field(form.lat, class='form-control', type="number", step="any" ,min="-91", max="91",
                placeholder='Insert Latitude') }}
            </div>
            <div>
                {{ wtf.form_field(form.lon, class='form-control', type="number", step="any" ,min="-181", max="181",
                placeholder='Insert Longitude') }}

            </div>

            <!--    <input type="submit" value="Submit">-->

            <div class="form-group">
                {{ form.submit(class="btn-sm btn-primary form-control",onclick="validateForm()" ) }}

            </div>
        </dl>
    </form>



</div>
<!--<script>submit=document.getElementById('submit')-->
<!--var name=document.getElementById('name')-->
<!--submit.onclick=function(){alert(name.data); }-->
<!--</script>-->
<!--<div class="container py=4">-->

<!--    <h2 class="text-center">Add a new coordinate record</h2>-->
<!--    <form class="p-3 mx-auto form-group" action="\geodata\" method="POST">-->


<!--        <div class="form-group">-->
<!--            <div class="form-group  required">-->
<!--                &lt;!&ndash;            <label class="control-label" for="name">Name</label>&ndash;&gt;-->
<!--                &lt;!&ndash;            <input autocomplete="off" class="input-sm" id="name" name="name" required="" type="text"&ndash;&gt;-->
<!--                &lt;!&ndash;                   value="">&ndash;&gt;-->
<!--                {{form.name.label(class="form-control-label", for="name")}}-->
<!--                {{ form.name(placeholder="Enter name" ,class="form-control", id="name",  ) }}-->

<!--            </div>-->
<!--            <p>-->
<!--            <div class="form-group  required">-->
<!--                &lt;!&ndash;            <label class="control-label" for="lat">Latitude</label>&ndash;&gt;-->
<!--                &lt;!&ndash;            <input autocomplete="off" class="input-sm" id="latitude" name="lat" required="" type="text"&ndash;&gt;-->
<!--                &lt;!&ndash;                   value="">&ndash;&gt;-->
<!--                {{form.lat.label(class="form-control-label", for="lat")}}-->
<!--                {{ form.lat(placeholder="Enter Latitude" ,class="form-control", id="lat", type=number, min="1") }}-->

<!--            </div>-->

<!--            </p>-->
<!--            <p>-->
<!--            <div class="form-group  required">-->
<!--                {{form.lon.label(class="form-control-label", for="lon")}}-->
<!--                {{ form.lon(placeholder="Enter Longitude" ,class="form-control", id="lon") }}-->


<!--            </div>-->
<!--            </p>-->
<!--            <div class="form-group">-->
<!--                {{ form.submit(class="btn-sm btn-primary form-control") }}-->
<!--            </div>-->

<!--        </div>-->
<!--    </form>-->

<!--</div>-->
{% endblock %}
</body>
</html>