<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Import CSS for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>index.html</title>
</head>
<body>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Longitude</th>
            <th scope="col">Latitude</th>
        </tr>
        </thead>

        <tbody>

        <!-- Display data from API -->
        {%for x in range(0, lenapi)%}
        <tr>
            <th scope="row">1</th>
            <td>{{data_api['data'][x]['properties']['name']}}</td>
            <td>{{data_api['data'][x]['geometry']['coordinates'][0]}}</td>
            <td>{{data_api['data'][x]['geometry']['coordinates'][0]}}</td>
        </tr>
        {%endfor%}

        <thead class="thead-light">
        <tr class="table-secondary">
            <th class="table-secondary" scope="col">#</th>
            <th class="table-secondary" scope="col">Name</th>
            <th class="table-secondary" scope="col">Lat</th>
            <th class="table-secondary" scope="col">Lon</th>
        </tr>
        </thead>

        <tbody>

        <!-- Display data from database -->
        {%for x1 in range(0, lendb)%}
        <tr>
            <th scope="row">1</th>
            <td> {{data_db[x1][1]}}</td>
            <td>{{data_db[x1][2]}}</td>
            <td>{{data_db[x1][3]}}</td>
        </tr>
        {%endfor%}

        </tbody>
    </table>
</div>

</body>

</html>