<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Create </title>
</head>
<body>

<div class="container">
    <h1>Create new</h1>
    <form action="/geodata/" method="POST">
        <div class="form-group">
            <label>name</label>
            <input class="form-control" name="name" placeholder="Insert name" type="text">
        </div>
        <div class="form-group">
            <label>lat</label>
            <input class="form-control" name="lat" placeholder="Insert Latitude " type="text">
        </div>
        <div class="form-group">
            <label>lon</label>
            <input class="form-control" name="lon" placeholder="Insert Longitude" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>
<!--<script>alert("prompt")</script>-->
</body>

</html>